.box1 {
    width: 100px;
    height: 100px;
    background-color: red;
  }

  .box2 {
    width: 100px;
    height: 100px;
    background-color: red;
  }.box3 {
    width: 100px;
    height: 100px;
    background-color: red;
  }
  body {
    margin: 0;
    padding: 0;
    height: 2000px; /* This makes the body tall enough to scroll */
  }